@import "../../helpers";
.sf-heading {
  box-sizing: border-box;
  text-align: var(--heading-text-align, center);
  &__title {
    margin: var(--heading-title-margin, 0);
    font-weight:  var(--font-normal);
  }
  &__subtitle {
    font-weight: var(--font-light);
  }
  &--underline {
    @include border(--heading-border, 0 0 1px 0, solid, var(--c-light));
  }
  &--left {
    --heading-text-align: left;
  }
  &--right {
    --heading-text-align: right;
  }
}
